
@media (min-width: 700px) {
    
header{
    text-align: center;
}
.header{
    background: url('20200212120008.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: auto;  
    height: 20rem;
    width: 40rem; 
    display: inline-block;
}

.color{
    background: rgba(255,255,255,.9);
    margin-top: 4rem;
    height: 10rem;
    text-align: center;
    width: 20rem;
    display: inline-block;
}
h1{
    font-family: reggae-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20rem;
}



 .container{
        display: flex;
        justify-content: center;
    }


p.article-desc{
    margin: 32px 0 0;
    padding: 32px;
    background-color: #f2f2f2;
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;                /* モバイルユーサビリティ */
    /* font-size: 30px; */
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #183028;
    margin-bottom: 50px;
}


/* サイトに飛ばすためのリンクを張る */
body .list table tr {
    border: 1px solid #e2e2e2;
}
.list tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
body .list table {
    background: #fff;
    font-size: 12px;
    margin-bottom: 15px;
    width: 100%;
}
.list table {
    border-spacing: 0;
}
.list table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    font-size: 12px;
    border-color: gray;
}

body .list table th{
    color: rgb(68, 68, 68);
    box-sizing: border-box;
}
body .list table td a, body table th a {
    font-weight: 700;
    color: 0074e0;
}
body .list table td{
    text-align: center;
    padding: 6px 3px;
    border: 1px solid #e2e2e2;
}
body .list table tr th {
    border: 1px solid #e2e2e2;
    background-color: #efefef;
    padding: 6px 8px;
}
body .list table img {
    margin: 0 auto 8px;
    border-radius: 4px;
}


}


